.root {
  padding-top: 10em;
}
.h3CardFour {
  color: #4d4d4d;
  text-align: start;
  font-size: 1.2em;
}
.parCardFour {
  text-align: start;
  color: #2f2626;
  font-size: 2em;
  width: 10em;
}
.divCardFour {
}
.imgCardFour {
  width: 40em;
}
