.root {
  padding-top: 10em;
}
.h3CardFour {
  color: #4d4d4d;
  text-align: start;
  font-size: 1.2em;
}
.parCardFour {
  text-align: start;
  color: rgba(36, 36, 36, 0.8);
  font-size: 1.1em;
  line-height: 1.5;
  max-width: 25em;
}
.divCardFour {
}
.imgCardFour {
  width: 40em;
}
