.root {
  max-width: 1280px;
  display: inline-block;
  justify-content: center;
  padding-top: 2em;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}
.spanNavClass {
  display: flex;
  padding-right: 1px;
  margin-right: 1px;
  grid-auto-flow: column;
  justify-items: center;
  gap: 50em;
}
.imgNavClass {
  width: 4em;
}
.navLinkClass {
  padding: 1em;
  color: #ffffff;
  font-size: 1em;
}
.navButtonClass {
  font-size: 1em;
}
.navSpanDivClass {
  width: auto;
  padding-top: 0em;
  padding-right: 0em;
  padding-bottom: 0em;
  display: flex;
  font-size: 1em;
  align-self: center;
}
.navDivMain {
  padding-right: 0em;
  display: inline;
}
.navSpanLogoDivClass {
  display: flex;
  align-items: start;
}
