.root {
  text-align: left;
  display: inline-block;
  padding-top: 5em;
  padding-bottom: 8em;
}
.h3Services {
  text-align: start;

  font-size: 1.2em;
}
.h2Services {
  text-align: start;

  font-size: 1.5em;
  width: 40em;
}
.divMain {
  display: inline-block;
  padding-left: 0em;
}
