.root {
  text-align: left;
  display: block;
  padding-top: 4em;
  padding-bottom: 6em;
  max-width: 1200px;
  margin: 0 auto;
}

.h3Services {
  text-align: start;
  font-size: 1.5em;
  color: #F9C307;
  margin-bottom: 0.5em;
}

.h2Services {
  text-align: start;
  font-size: clamp(1em, 2vw, 1.4em);
  max-width: 800px;
  margin-bottom: 2em;
  color: rgba(255, 255, 255, 0.7);
}

.divMain {
  display: block;
  padding-left: 0em;
  margin-bottom: 2em;
}

@media (max-width: 768px) {
  .root {
    padding: 3em 1em 4em;
  }

  .h2Services {
    font-size: 1.2em;
    width: 100%;
  }
}
