.root {
}
.cardOneDiv {
  box-shadow: 0 0 black;
}
.h3CardOne {
  color: #4d4d4d;
  text-align: start;
  padding-top: 0em;
  padding-left: 0em;
  font-size: 1.2em;
}
.h1CardOne {
  color: #000000;
}
.imgCardOne {
  width: 40em;
}
.parCardTwo {
  text-align: start;
  color: rgba(36, 36, 36, 0.8);
  padding-left: 0em;
  font-size: 1.1em;
  line-height: 1.5;
  max-width: 25em;
}
