.root {
}
.imgCardThree {
  width: 60em;
}
.h2CardThree {
  color: #4d4d4d;
  text-align: start;
  font-size: 1.2em;
}
.divCardThree {
  width: 60em;
  display: inline-block;
}
.parCardThree {
  text-align: start;
  color: rgba(36, 36, 36, 0.8);
  font-size: 1.1em;
  line-height: 1.5;
  max-width: 25em;
}
