.root {
}
.imgCardThree {
  width: 60em;
}
.h2CardThree {
  color: #4d4d4d;
  text-align: start;
  font-size: 1.2em;
}
.divCardThree {
  width: 60em;
  display: inline-block;
}
.parCardThree {
  text-align: start;
  color: #000000;
  width: 10em;
  font-size: 2em;
}
