.main {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
}

.ourwork {
    background-color: #ffffff;
    display: inline-block;
}

.Footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}