.root {
  background-color: #ffffff;
  overflow: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  align-content: space-around;
  justify-content: center;
  padding-bottom: 2.5em;
}
.divContact {
  display: inline-block;
  width: 50em;
}
.h3Contact {
  color: #000000;
  text-align: center;
  padding-top: 1em;
  font-size: 3em;
}
.h1Contact {
  color: #000000;
  text-align: center;
  font-size: 2em;
  padding-bottom: 0.3em;
}
.divMainText {
}
.divButton {
  text-align: center;
  padding-top: 0.6em;
}
.divH3 {
  text-align: start;
}

.email {
  color:#000000;
}