.root {
  display: inline-block;
  background-image: url('../../assets/logoOutline.png');
  background-position: 0%;
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
}
.imgIntoClass {
  width: 10em;
}
.divIntro {
  display: grid;
  justify-items: start;
  margin-right: 5em;
  height: inherit;
}
.divOuterSpace {
  margin: 8em 20em 10em;
  padding-top: 6em;
  background-color: no-repeat padding-box border-box 50% / contain scroll;
 
 
 
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
}
.h1MainIntroClass {
  text-align: start;
  font-size: 4em;
}
.h2SubtextInto {
  text-align: start;
  font-size: 1.4em;
}
.buttonIntroClass {
}
