.root {
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  display: inline-block;
  padding-bottom: 5em;
}
.spanClassOurWork {
  display: flex;
  width: 100em;
  padding-left: 0em;
  padding-right: 0em;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8em;
}
.mainDivOurWork {
  display: inline-block;
}
.h1OurWork {
  color: #000000;
  margin: 0em 5.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: auto;
  font-size: 3.5em;
}
.divOW {
  width: 100em;
  padding-bottom: 5em;
  padding-top: 5em;
}
.cardSpaceTwo {
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
}
.divThree {
  display: inline-block;
  padding-top: 10em;
}
.divTwo {
}
.spanClassOurWorkTwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8em;
}
