.root {
  padding: 3em 0em;
}
.imgStyle {
  width: 15em;
}
.spanFooter {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}
.icon {
  width: 48px;
  height: 48px;
}
