.root {
}
.divCardTwo {
  display: inline-block;
  height: auto;
  width: auto;
}
.imgCardTwo {
  width: 30em;
}
.h1CardOne {
  color: #000000;
  text-align: start;
}
.h1CardOne {
  text-align: start;
}
.parCardOne {
  color: #000000;
  text-align: start;
  font-size: 2em;
  width: 10em;
}
.h3CardTwo {
  text-align: start;
  color: #4d4d4d;
  font-size: 1.2em;
}
