.root {
}
.divStatement {
  display: inline-block;
  margin-left: 20em;
  margin-right: 20em;
  
}
.pStatement {
  display: inline;
  font-size: 3em;
  text-align: start;
}
.pStatement:hover {
  color: #F9C307;
}
